<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.harvardshop.email</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3.6</string>
        <string>/Users/johnshen/vend/automail.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
    	<key>Hour</key>
    	<integer>20</integer>
    	<key>Minute</key>
    	<integer>30</integer>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
    	<key>token</key>
    	<string>2tQzNrcZpJ7vDDXgznMJzk_rj51acWDtNLT3vyQ1</string>
    </dict>
</dict>
</plist>
